<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My ToDo</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-neutral-800">
    <div class="w-screen h-screen flex items-center justify-items-center">
      <div
        class="w-6/12 rounded bg-neutral-700 shadow-md mx-auto flex flex-col p-4 items-center justify-items-center"
      >
        <h4 class="font-bold font-sans text-lg w-fit text-white">Login</h4>
        <form class="w-4/5 my-4 flex flex-col">
          <input class="my-2 p-2 rounded-sm font-sans" type="email" />
          <input class="my-2 p-2 rounded-sm font-sans" type="password" />
          <input
            class="cursor-pointer my-2 text-white p-4 rounded-sm bg-lime-500 hover:bg-lime-600 hover:duration-150 font-semibold font-sans"
            type="submit"
          />
        </form>
        <p class="text-white font-sans">
          Não possui uma conta?
          <a
            href="/register"
            class="text-lime-400 hover:text-lime-500 font-sans"
            >Cadastre-se</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
